<h1>作品詳細</h1>
<p>Find me in app/views/user/items/show.html.erb</p>

<%= attachment_image_tag @item, :image_id %>

        <table class="table">
          <tbody>
            <tr>
              <th>作品名</th>
              <th><%=@item.name %></th>
            </tr>
            <th>作品説明</th>
            <th><%=@item.description %></th>
            <th>ジャンル</th>
            <th><%=@item.genre.name %></th>

          </tbody>
        </table>

