<h1>作品詳細</h1>

<%= attachment_image_tag @item, :image %>

        <table class="table">
          <tbody>
            <tr>
              <th>作品名</th>
              <th><%=@item.name %></th>
            </tr>
            <tr>
              <th>作品説明</th>
              <th><%=@item.description %></th>
            </tr>
            <tr>
              <th>作品日時</th>
              <th><%= @item.created_at.strftime('%Y/%m/%d %H:%M') %></th>
            </tr>


          </tbody>
        </table>

