<div class="top">
<%= image_tag'top01.jpg',size:'600x500' %>
</div>


<h2><p>このサイトについて</p></h2>


<p>
芸術の森は、様々なアート作品を投稿し、いろいろな人からのメッセージがもらえるコミュニティサイトです。
お気に入りの作品を見つけて、コメント・フォローしてみましょう。
現在扱っている種類は、絵・陶芸・工芸・彫刻・書の5つ。</p>


<p>
投稿された作品は誰でも鑑賞可能ですが、
投稿やコメントは会員登録した方のみができます。
新規登録する方は<%= link_to 'こちら', new_user_registration_path %></p>







<style>
.top{
	text-align: center;
}




</style>

