<div class="row">
  <div class= "col-xl-5">
    <div style="min-height: 8vh;">
      <h3 class="mb-3">本当に退会しますか？</h3>
    </div>
    <p>退会すると、会員登録や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>

    <div class="form-row">
      <div class="col text-left mt-4">
        <%= link_to "もどる", users_path, class:"btn btn-primary badge-pill text-white px-3" %>
      </div>
      <div class="col text-right mt-4">
        <%= link_to "退会する", destroy_users_path, method: :patch, class:"btn btn-secondary badge-pill px-3 mr-5" %>
      </div>
    </div>
  </div>
</div>