<nav class="navbar navbar-expand-sm navbar-light header-list">
  <a class="navbar-brand" href="/admin">管理者画面</a>



  <div class="collapse navbar-collapse" id="Navbar_admin">
    <div class="d-flex flex-column ml-auto">
      <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '作品一覧', admin_items_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to '会員一覧', admin_users_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'ログイン', new_admin_session_path, class: "nav-link" %>
            </li>
          </ul>
        <% end %>

    </div>

  </div>
</nav>
